{
  "AWSEBDockerrunVersion": "2",
  "containerDefinitions": [
      {
        "name": "worker",
        "image": "ECR/SERVICE_NAME:BUILD_TAG",
        "user" : "nobody",
        "essential": "true",
        "memoryReservation": "128",
         "portMappings": [{
           "hostPort": "9494",
           "containerPort": "9494"
         }]
      }
    ]
}
